
body{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
#board{
  background-color: aquamarine;
  background-image: url(media/flappybirdbg.png);
}
#w{
  height: 25px;
  position: absolute;
  width: auto;
}